.home-page{
    background: #1976d2;
}

.title {
    color: #ffffff;
    padding-left: 15%;
    padding-right: 5%;
    padding-top: 10%
}

.text {
    color: #ffffff;
    padding-left: 15%;
    padding-right: 5%;
    padding-top: 2%
}

.input {
    color: #ffffff;
}

.btn {
    width: 50%;
}