<div style="text-align: center;">
<h1 class="mat-display-1 title">Welcome to Matcher</h1>
<h3 class="text">This app is made to help couples find moives, restaurants, bars and much more to enjoy together</h3>
    <form>
        <mat-form-field class="input btn" >
        <mat-label class="input">User Name</mat-label>
        <input matInput class="input" #userName>
        </mat-form-field>
        <br>
        <mat-form-field class="input btn" >
        <mat-label class="input">Password</mat-label>
        <input matInput class="input" #pass>
        </mat-form-field>
        <br>
        <button mat-raised-button type='button' color="primary" class="btn" (click)= logInClick()>Log in</button>
    </form>
    <br>
    <a class="input" routerLink="/signup" routerLinkActive='active'>Sign up</a>
</div>